{% extends "base.html" %}

{% block title %}Features - LovingIsSharing App{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4 mb-4">Features</h1>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">User Registration and Login</h5>
            <p class="card-text">Easily create an account and log in to access the application.</p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Assigning Tasks To Users</h5>
            <p class="card-text">When creating task you can assign it to your flatmate. Making it his individual task.</p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Linking Task List With Your Flatmate</h5>
            <p class="card-text">Your can share your tasks with user you link with via your own special key </p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Check Current Status Of Task</h5>
            <p class="card-text">You and your flatmate can mark task as done/not done. So both of you will be updated. </p>
        </div>
    </div>



</div>
{% endblock %}